<?xml version="1.0" ?>
<model>
    <name>single_track_model</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Matteo Caruso</name>
        <email>m.caruso@nextgen-robotics.com</email>
    </author>
    <description>SDF model of a train track long 100m</description>
</model>
