<?xml version="1.0" ?>
<model>
    <name>train_wheels</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Matteo Caruso</name>
        <email>m.caruso@nextgen-robotics.com</email>
    </author>
    <description>Simple model of train wheels</description>
</model>
