<?xml version="1.0" ?>
<model>
    <name>low_portal_with_obstacles</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Matteo Caruso</name>
        <email>m.caruso@nextgen-robotics.com</email>
    </author>
    <description>Low portal with obstacles</description>
</model>
